:root {
  --primary: #2F80ED;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* General classes */
a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.menu-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Header */
.header {
  width: 100vw;
  height: 800px;
  background: url('./media/bg.jpg') no-repeat;
  position: absolute;
  border-bottom: 1px solid #E9E9E9;
}

.bg-circles {
  width: 520px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: -350px;
}

.circle::after {
  content: '';
  display: block;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: 200px;
  left: 70px;
}


/* Nav Bar */
.nav-bar {
  width: 100%;
  height: 106px;
  margin-top: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search > input {
  width: 424px;
  height: 96px;
  padding: 0 27px;
  background: #fff;
  border: none;
  border-radius: 15px;
  color: #090909;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.045em;
}

.search > input:focus {
  outline: none;
}

.help {
  width: 120px;
  height: 52px;
  background: #B6D5FF;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-left: 135px;
}

.help a{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #3880E0;
}

.help span {
  margin-right: 13px;
}

.guest-nav {
  margin-left: auto;
  margin-right: 44px;
  font-size: 29px;
  letter-spacing: -0.045em;
}

.login {
  color: #1c1d1c;
  margin-right: 32px;
}

.register {
  font-weight: 500;
  color: #1c1d1c;
}


/* Categories */
.categories {
  margin-top: 107px;
}

.categories >.menu-list {  
  display: flex;
  justify-content: space-between;
}

.category {
  width: 180px;
  height: 268px;
}

.category a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);

  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}

.category span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 58px;
  background: #fff;
  border-radius: 8px;
}

.c1 {
  background: url('./media/pizza.jpg') no-repeat;
}
.c2 {
  background: url('./media/italiana.jpg') no-repeat;
}
.c3 {
  background: url('./media/aperitivo.jpg') no-repeat;
}
.c4 {
  background: url('./media/estera.jpg') no-repeat;
}
.c5 {
  background: url('./media/carne-pesce.jpg') no-repeat;
}
.c6 {
  background: url('./media/speciali.jpg') no-repeat;
}

.discover {
  width: 50%;
  /* margin-top: 47px; */
  margin-left: auto;
}

.scopri {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.07em;
  color: #D6D6D6;
}

.discover-links-wrapper {
  display: flex;
}

.discover-link {
  display: block;
  width: 256px;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #2F80ED;
  margin-right: 68px;
}

.discover-link:last-of-type {
  font-weight: 700;
  margin: 0;
}