:root {
  --primary: #2F80ED;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* font-size: 62.5%; */
  overflow-x: hidden;
}


/* General classes */
a {
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 35px 0px;
  display: block;
  position: relative;
  z-index: 3;
}

.menu-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.15;
  letter-spacing: 0.025em;
  color: #1A1A1A;
  margin: 0;
}

.subtitle {  
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.15;
  letter-spacing: 0.18em;
  color: #CFCFCF;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  background: var(--primary);
  padding: 15px;
  margin: 13px 0;
  height: 45px;
}

.btn-secondary {
  border: 1px solid #AFAFAF;
  color: #000;
  background: none;
}

.js-modal-btn {
  width: 18px;
  cursor: pointer;
}

.arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-radius: 5px;
  cursor: pointer;
}


/* Header */
.header {
  width: 100vw;
  height: 545px;
  background: url(./media/bg.jpg) no-repeat center center;
  padding-top: 0px;
  margin-bottom: 5px;
  position: relative;
}

.bg-shd-top {
  z-index: 2;
  width: 100vw;
  height: 130px;
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.7077205882352942) 0%, rgba(0,0,0,0.4472163865546218) 25%, rgba(0,0,0,0) 100%);
}

.bg-circles {
  width: 520px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.07);
  position: relative;
  top: -150px;
}

.circle::after {
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.07);
  position: relative;
  top: 200px;
  left: 300px;
}


/* Nav Bar */
.nav-bar {
  width: 100%;
  height: 76px;
  /* margin-top: 112px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 235px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.15;
  letter-spacing: -0.045em;
}

.help {
  width: 85px;
  height: 39px;
  background: #B6D5FF;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  margin-left: 27px;
}

.help a{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #3880E0;
}

.help span {
  margin-right: 10px;
}

.guest-nav {
  margin-left: auto;
  margin-right: 31px;
  font-size: 1.5rem;
  letter-spacing: -0.045em;
}

.login {
  color: #f1f1f1;
  margin-right: 19px;
  font-size: 17px;
  letter-spacing: 0.04rem;
  font-weight: 300;
}

.register {
  color: #f1f1f1;
  font-size: 17px;
  letter-spacing: 0.04rem;
  font-weight: 500;
}

.logo-img {
  width: 65px;
  height: 65px;
}


/* Categories */
.categories {
  margin-top: 43px;
}

.categories > .menu-list {  
  display: flex;
  justify-content: space-between;
}

.category {
  width: 140px;
  height: 245px;
}

.category a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);

  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}

.category span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 43px;
  background: rgba(255,255,255,0.95);
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.c1 {
  background: url('./media/pizza.jpg') no-repeat;
}
.c2 {
  background: url('./media/italiana.jpg') no-repeat;
}
.c3 {
  background: url('./media/aperitivo.jpg') no-repeat;
}
.c4 {
  background: url('./media/estera.jpg') no-repeat;
}
.c5 {
  background: url('./media/carne-pesce.jpg') no-repeat;
}
.c6 {
  background: url('./media/speciali.jpg') no-repeat;
}

.discover {
  width: 100%;
  /* margin-top: 47px; */
  margin-left: auto;
}

.scopri {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 0.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.discover-links-wrapper {
  display: flex;
}

.discover-link {
  display: block;
  font-size: 0.9rem;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.discover-link-span {
  display: block;
  font-weight: 400 !important;
  font-size: 0.9rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.7;
  padding: 0px 15px;
  font-family: 'Roboto', sans-serif;
}

.discover-link:last-of-type {
  font-weight: 400;
  margin: 0;
}


/* Restaurants section */
.restaurants {
  text-align: center;
  position: relative;
  padding-top: 0px;
}

.rel-spacing {
  display: block;
  position: relative;
  margin: 25px 0px 55px 0px;
}

.star {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
}

.star img {
  height: 35px;
  width: 35px;
}

.star p {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.025em;
  color: #FCB61D;
  margin-left: 13px;
}

.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.cards-all {  
  flex-wrap: wrap;
}

.card {
  width: 215px;
  background: #F8F8F8;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  text-align: left;
  padding: 0 20px 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.restaurant-logo {
  margin-left: -20px;
  display: block;
  width: 215px;
  border-bottom: 1px solid #E9E9E9;
}

.card .subtitle {
  margin-top: 20px;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.23em;
  color: #BDBDBD;
}

.card .title {
  font-size: 1.3rem;
  color: #000000;
}

.desc {
  font-size: 0.8rem;
  line-height: 1.3;
  letter-spacing: 0.025em;
  color: #4F4F4F;
  margin-bottom: .5em;
}

.btn-wrapper {
  display: flex;
}

.qeust {
  width: 50px;
  height: 45px;
  margin-right: 13px;
}

.card p:nth-of-type(2) {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.15;
  letter-spacing: 0.025em;
  color: #2F80ED;
  margin: .5em 0;
}


/* RISTORANTI ADERENTI */
.all {
  margin-top: 60px;
  margin-bottom: 60px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0px;
}

.arrow-more {
  width: 25px;
  cursor: pointer;
}

.all .card {
  padding: 0;
  position: relative;
}

.all .restaurant-logo {
  margin: 0;
  border: none;
}

.all .arrow {
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.more {
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.025em;
  color: #2F80ED;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more img {
  width: 18px;
  height: 16px;
  margin-left: 18px;
}


/* Footer */
.footer {
  width: 100vw;
  height: 210px;
  padding: 0px;
  border-top: 1px solid #E9E9E9;
  background: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo-wrapper img {
  margin-right: 25px;
  width: 70px;
  height: 70px;
}

.footer-title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #393939;
  margin: 0;
}

.footer-info {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #A3A3A3;
  margin: 0.3em 0;
}

.socials-wrapper p {
  font-size: 0.9em;
  line-height: 21px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #363636;
  text-align: right;
}

.socials {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.social {
  margin-right: 15px;
}

.social img {  
  width: 22px;
  height: 22px;
}

.social:last-of-type {
  margin: 0;
}

.rights {
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #C8C8C8;
  margin-top: 28px;
}

.terms {
  margin-top: 21px;
}

.term a {
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.13em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #C8C8C8;
}

.menu-list .term:first-of-type {
  margin-right: 30px;
}


/* Modal */
.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 5;
  top: 0;
  padding: 50px 0;
  width: 100vw;
  height: 100%;
  justify-content: center;
  display: none;
  overflow: auto;
}

.modal {
  max-width: 600px;
  max-height: 545px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #AFAFAF;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.close {
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding: 14px;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  background: url(./media/Close.png) center center no-repeat;
}

.info-wrapper {
  display: flex;
  align-items: center;
}

.info-wrapper .restaurant-logo {
  border-bottom: 0;
  border-right: 1px solid #E9E9E9;
  width: 170px;
  margin: unset;
}

.info {
  width: auto;
  margin-left: 25px;
}

.info .subtitle {
  font-size: 0.9rem;
  letter-spacing: 0.19em;
  color: #828282;
}

.info .title {
  font-size: 1.5rem;
  line-height: 0.8;
  letter-spacing: 0.02em;
  color: #000000;
}

.adress {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #777777;
  margin: 13px 0;
  width: 280px;
}

.rest-link {
  font-size: 1rem;
  line-height: 0.1;
  letter-spacing: 0.025em;
  color: #2F80ED;
}

.slider {
  width: 100%;
  display: flex;
  position: relative;
}

.slider img {
  width: 50%;
}


.arrow-left {
  cursor: pointer;
  width: 40px;
  height: 76px;
  position: absolute;
  z-index: 2;
  left: 16px;
  top: 50px;
  background: url(./media/Arrow-Left.png) center center/cover;
  opacity: 0.9;
}

.arrow-right {
  cursor: pointer;
  width: 40px;
  height: 76px;
  position: absolute;
  z-index: 2;
  right: 16px;
  top: 50px;
  background: url('./media/Arrow-Right.png') center center/cover;
  opacity: 0.9;
}

.modal .desc {
  font-size: 0.8rem;
  line-height: 1.7;
  letter-spacing: 0.025em;
  color: #3E3E3E;
  margin-top: 32px;
  margin-bottom: 42px;
  width: 500px;
  margin: 30px auto;
}

.modal-btn:first-of-type {
  margin-right: 0px;
}

.modal-element {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
}

.modal-scroll {
  width: 100%;
  height: 442px;
  overflow-x: scroll;
}

.btn-modal-wrapper {
  display: flex;
}

.btn-modal {
  cursor: pointer;
  border: none;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  background: var(--primary);
  padding: 15px;
  margin: 0px 0;
  height: 50px;
}

.btn-modal i {
  margin-right: 10px;
}

.btn-modal-sec {
  cursor: pointer;
  border: none;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.025em;
  color: #2E2E2E;
  background-color: transparent;
  padding: 15px;
  margin: 0px 0;
  height: 50px;
}

.btn-modal-sec i {
  margin-right: 10px;
}

.sec-line {
  border-right: 1px solid #E9E9E9;
}



.visible {
  display: flex;
}



/* CATEGORIES PAGE */
/* Header changes */
body.in-category {
  background: #F2F2F2;
}

.header.in-category {
  height: 475px;
  border: 0;
  background: url('./media/bg-2.png') no-repeat;
  background-size: 100% 330px;
}

.bg-circles.in-category {
  width: 310px;
  height: 400px;
  left: 40vw;
  z-index: -1;
  opacity: 0.3;
}

.circle.in-category {
  width: 300px;
  height: 300px;
  top: -100px;
  border-color: #3181EE;
}

.in-category.circle::after {
  width: 50px;
  height: 50px;
  top: 260px;
  left: 250px;
  border-color: #3181EE;
}

.in-category.circle::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #3181EE;
  position: relative;
  top: 350px;
  left: 250px;
}

.help.in-category {
  margin-left: 28px;
  margin-right: auto;
}

.guest-nav.in-category {
  margin: 0;
}

.guest-nav.in-category a {
  color: #fff;
}

.header-title {
  margin: 40px 0px !important;
}

.header-title .title {
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}

.arrow-more-blue {
  width: 25px;
}

.categories.in-category {
  margin-top: 32px;
}

/* Restaurants in Categories page */
.category-restaurants {
  margin: 6px 0 45px;
}

.subtitle.in-category {
  font-size: 0.9rem;
  letter-spacing: 0.13em;
  color: #7C7C7C;
}

.title.in-category {
  font-size: 1.5rem;
  letter-spacing: 0.13em;
  color: #000000;
  margin-bottom: 50px;
}

.category-card {
  width: 100%;
  height: 105px;
  background: #fff;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 23px;
}

.cat-rest-img {
  display: block;
  width: 190px;
  height: 100%;
}

.cat-rest-logo {
  width: 115px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-rest-logo img {
  width: 60px;
}

.mini-map {
  width: 143px;
  height: 168px;
}

.cat-rest-info {
  margin-left: 28px;
}

.cat-rest-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.055em;
  color: #000000;
  margin-bottom: 0;
  margin-top: 9px;
}

.cat-rest-category {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.055em;
  color: #999999;
  margin: 0;
}

.cat-rest-category span {
  font-weight: 500;
}

.badge {
  width: 100px;
  height: 24px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.055em;
  text-transform: uppercase;  
  color: #4F4F4F;
  background: #FFE8B6;
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 10px;
}

.important {
  width: 208px;
  margin: auto 37px auto auto;
}

.promo {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.055em;
  color: #2F80ED;
  margin-top: 0px;
  margin-bottom: 8px;
}

.delivery {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.055em;
  color: #A8A8A8;
  margin: 0px;
  padding: 0px;
  line-height: 14px;
}


/* Tablets */
@media (max-width: 1024px) {
  .container {
    padding: 35px 20px;
  }

  .category:last-of-type {
    display: none;
  }

  .restaurants .card:last-of-type {
    display: none;
  }
}