:root {
  --primary: #2F80ED;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


/* General classes */
a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.menu-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.025em;
  color: #1A1A1A;
  margin: 0;
}

.subtitle {  
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  letter-spacing: 0.18em;
  color: #CFCFCF;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  background: var(--primary);
  padding: 15px;
  margin: 13px 0;
}

.btn-secondary {
  border: 1px solid #AFAFAF;
  color: #000;
  background: none;
}

.js-modal-btn {
  cursor: pointer;
}

.arrow {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-radius: 15px;
  cursor: pointer;
}


/* Header */
.header {
  width: 100vw;
  height: 800px;
  background: url('./media/bg.jpg') no-repeat;
  padding-top: 112px;
  border-bottom: 1px solid #E9E9E9;
}

.bg-circles {
  width: 520px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: -350px;
}

.circle::after {
  content: '';
  display: block;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  top: 200px;
  left: 70px;
}


/* Nav Bar */
.nav-bar {
  width: 100%;
  height: 106px;
  /* margin-top: 112px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 424px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #E9E9E9;
  border-radius: 15px;
  color: #090909;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.045em;
}

.help {
  width: 120px;
  height: 52px;
  background: #B6D5FF;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-left: 135px;
}

.help a{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #3880E0;
}

.help span {
  margin-right: 13px;
}

.guest-nav {
  margin-left: auto;
  margin-right: 44px;
  font-size: 29px;
  letter-spacing: -0.045em;
}

.login {
  color: #1c1d1c;
  margin-right: 32px;
}

.register {
  font-weight: 500;
  color: #1c1d1c;
}


/* Categories */
.categories {
  margin-top: 107px;
}

.categories >.menu-list {  
  display: flex;
  justify-content: space-between;
}

.category {
  width: 180px;
  height: 268px;
}

.category a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);

  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}

.category span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 58px;
  background: #fff;
  border-radius: 8px;
}

.c1 {
  background: url('./media/pizza.jpg') no-repeat;
}
.c2 {
  background: url('./media/italiana.jpg') no-repeat;
}
.c3 {
  background: url('./media/aperitivo.jpg') no-repeat;
}
.c4 {
  background: url('./media/estera.jpg') no-repeat;
}
.c5 {
  background: url('./media/carne-pesce.jpg') no-repeat;
}
.c6 {
  background: url('./media/speciali.jpg') no-repeat;
}

.discover {
  width: 50%;
  /* margin-top: 47px; */
  margin-left: auto;
}

.scopri {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.07em;
  color: #D6D6D6;
}

.discover-links-wrapper {
  display: flex;
}

.discover-link {
  display: block;
  width: 256px;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #2F80ED;
  margin-right: 68px;
}

.discover-link:last-of-type {
  font-weight: 700;
  margin: 0;
}


/* Restaurants section */
.restaurants {
  text-align: center;
  position: relative;
  padding-top: 79px;
}

.star {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
}

.star img {
  height: 55px;
  width: 55px;
}

.star p {
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #FCB61D;
  margin-left: 17px;
}

.cards {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 350px;
  background: #F8F8F8;
  border: 1px solid #AFAFAF;
  border-radius: 5px;
  text-align: left;
  padding: 0 31px 31px;
  overflow: hidden;
}

.restaurant-logo {
  margin-left: -31px;
  display: block;
  width: 348px;
  border-bottom: 1px solid #AFAFAF;
}

.card .subtitle {
  margin-top: 45px;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.23em;
  color: #BDBDBD;
}

.card .title {
  font-size: 33px;
  color: #000000;
}

.desc {
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.025em;
  color: #4F4F4F;
}

.btn-wrapper {
  display: flex;
}

.qeust {
  width: 82px;
  margin-right: 17px;
}

.card p:nth-of-type(2) {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.025em;
  color: #2F80ED;
}


/* RISTORANTI ADERENTI */
.all {
  margin-top: 123px;
  margin-bottom: 100px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-more {
  cursor: pointer;
}

.all .card {
  padding: 0;
  position: relative;
}

.all .restaurant-logo {
  margin: 0;
  border: none;
}

.all .arrow {
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.more {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.025em;
  color: #2F80ED;
  margin-top: 71px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more img {
  width: 27px;
  height: 24px;
  margin-left: 18px;
}


/* Footer */
.footer {
  width: 100vw;
  height: 392px;
  padding: 55px 0;
  border-top: 1px solid #AFAFAF;
  background: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo-wrapper img {
  margin-right: 25px;
}

.footer-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #393939;
  margin: 0;
}

.footer-info {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #A3A3A3;
}

.socials-wrapper p {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #363636;
}

.socials {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.social {
  margin-right: 34px;
}

.social:last-of-type {
  margin: 0;
}

.rights {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #C8C8C8;
  margin-top: 45px;
}

.terms {
  margin-top: 45px;
}

.term a {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #C8C8C8;
}

.menu-list .term:first-of-type {
  margin-right: 30px;
}


/* Modal */
.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 5;
  top: 0;
  padding: 50px 0;
  width: 100vw;
  height: 100%;
  justify-content: center;
  display: none;
  overflow: auto;
}

.modal {
  width: 1290px;
  height: 1300px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #AFAFAF;
  padding: 0 72px 44px;
  position: relative;
  overflow: hidden;
}

.close {
  cursor: pointer;
  width: 27px;
  height: 27px;
  padding: 30px;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  background: url('./media/Close.png') center center no-repeat;
}

.info-wrapper {
  display: flex;
}

.info-wrapper .restaurant-logo {
  margin-left: -72px;
  border-bottom: 0;
  border-right: 1px solid #AFAFAF;
}

.info {
  width: 480px;
  margin-top: 56px;
  margin-left: 78px;
}

.info .subtitle {
  font-size: 32px;
  letter-spacing: 0.19em;
  color: #828282;
}

.info .title {
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}

.adress {
  font-size: 37px;
  line-height: 43px;
  letter-spacing: 0.025em;
  color: #777777;
  margin: 20px 0;
}

.rest-link {
  font-size: 37px;
  line-height: 43px;
  letter-spacing: 0.025em;
  color: #2F80ED;
}

.slider {
  width: 1288px;
  display: flex;
  position: relative;
  margin-left: -72px;
}

.slider img {
  width: 50%;
}


.arrow-left {
  cursor: pointer;
  width: 80px;
  height: 153px;
  position: absolute;
  z-index: 2;
  left: 36px;
  top: 102px;
  background: url('./media/Arrow-Left.png');
}

.arrow-right {
  cursor: pointer;
  width: 80px;
  height: 153px;
  position: absolute;
  z-index: 2;
  right: 36px;
  top: 102px;
  background: url('./media/Arrow-Right.png');
}

.modal .desc {
  font-size: 35px;
  line-height: 58px;
  letter-spacing: 0.025em;
  color: #3E3E3E;
  margin-top: 82px;
  margin-bottom: 102px;
}

.modal-btn:first-of-type {
  margin-right: 41px;
}



.visible {
  display: flex;
}



/* CATEGORIES PAGE */
/* Header changes */
body.in-category {
  background: #F2F2F2;
}

.header.in-category {
  height: 630px;
  border: 0;
  background: url('./media/bg-2.png') no-repeat;
  background-size: 100% 480px;
}

.bg-circles.in-category {
  width: 310px;
  height: 400px;
  left: 40vw;
  z-index: 2;
}

.circle.in-category {
  width: 300px;
  height: 300px;
  top: -100px;
  border-color: #3181EE;
}

.in-category.circle::after {
  width: 50px;
  height: 50px;
  top: 260px;
  left: 250px;
  border-color: #3181EE;
}

.in-category.circle::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #3181EE;
  position: relative;
  top: 350px;
  left: 250px;
}

.help.in-category {
  margin-left: auto;
  margin-right: 52px;
}

.guest-nav.in-category {
  margin: 0;
}

.guest-nav.in-category a {
  color: #fff;
}

.header-title {
  margin-top: 56px;
}

.header-title .title {
  font-size: 27px;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}

.categories.in-category {
  margin-top: 32px;
}

/* Restaurants in Categories page */
.category-restaurants {
  margin: 60px 0 100px;
}

.subtitle.in-category {
  font-size: 21px;
  letter-spacing: 0.13em;
  color: #7C7C7C;
}

.title.in-category {
  font-size: 50px;
  letter-spacing: 0.13em;
  color: #000000;
  margin-bottom: 50px;
}

.category-card {
  width: 1200px;
  height: 168px;
  background: #fff;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 23px;
}

.cat-rest-img {
  display: block;
  width: 246px;
  height: 168px;
}

.cat-rest-logo {
  width: 150px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-map {
  width: 143px;
  height: 168px;
}

.cat-rest-info {
  margin-left: 28px;
}

.cat-rest-name {
  font-weight: 500;
  font-size: 31px;
  line-height: 36px;
  letter-spacing: -0.055em;
  color: #000000;
  margin-bottom: 0;
  margin-top: 32px;
}

.cat-rest-category {
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.055em;
  color: #999999;
  margin: 0;
}

.cat-rest-category span {
  font-weight: 500;
}

.badge {
  width: 144px;
  height: 28px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.055em;
  text-transform: uppercase;  
  color: #4F4F4F;
  background: #FFE8B6;
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 10px;
}

.important {
  width: 208px;
  margin: auto 37px auto auto;
}

.promo {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.055em;
  color: #2F80ED;
}

.delivery {
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -0.055em;
  color: #A8A8A8;
}